* {
    margin:0;
    padding:0;
}

nav{
    background-color: white;
    grid-area: nav;
}
 

main {
    background-color: rgb(175, 41, 41);
    grid-area: main;
}

 footer{
     background-color: rgb(55, 0, 255);
     grid-area: footer;
 }